<div class="page-header">
	<md-button class="md-raised md-primary" ng-click="edit = !edit; disableDrag(edit)">Edit</md-button>
	<md-button class="md-raised md-secondary" ng-click="addWidget()"><i class="glyphicon glyphicon-plus"></i> Add Widget</md-button>
	<md-button class="md-raised md-warn" ng-click="clear()"><i class="glyphicon glyphicon-trash"></i> Clear</md-button>
	<md-button class="md-raised md-primary" ng-click="saveBoard()"><i class="glyphicon glyphicon-save"></i> Save</md-button>

	<h1 ng-show="{{!showClaim}}" style="display: inline-block; width: 200px;">  {{deviceName}}</h1>
	<!--	<select class="form-control" style="width: 150px; margin-bottom: 20px; display:inline-block;" ng-change="changeDashboard()" ng-model="selectedDashboardId" ng-options="d.id as d.name for d in dashboards | object2Array | orderBy:'id'">
</select>
-->

</div>
<div ng-show="{{showClaim}}">
<md-button  class="md-raised md-warn md-hue-2" target="_blank" ng-href="{{claimURL}}">Claim Device</md-button>
<md-button  class="md-raised md-warn md-hue-2" target="_blank" ng-href="{{useURL}}">Go here to use!</md-button>

<p>
	<h2>Instructions</h2>

	<ol>
	<li>Click on "Claim Device" to attach it to an Octobu account</li>
	<li>Click on "Go Here to Use"</li>
	<li>Click "Edit" to enable dragging and editting of Widget Properties</li>
	<li>Add your control device to a flow and attach a debug</li>
	<li>Any action on a widget is sent as a message to Octoblu - you'll see it in the debug</li>
	</ol>

	<h3>Example output</h3>

	<p><strong>Button</strong>
	<code>
	payload: {
	    "name" : WIDGETNAME,
	    "value": up / down
	}
	</code></p>

	<p><strong>Switch</strong>
	<code>
	payload: {
	    "name" : WIDGETNAME,
	    "value": true / false
	}
	</code></p>

	<p><strong>Slider</strong>
	<code>
	payload: {
	    "name" : WIDGETNAME,
	    "value": 0 - 255
	}
	</code></p>
</p>
</div>
<div ng-show="{{!showClaim}}" gridster="gridsterOptions">
	<ul>
		<li gridster-item="widget" ng-repeat="widget in dashboard.widgets">
			<div class="box" ng-controller="CustomWidgetCtrl">
				<div class="box-header">
					<h3>{{ widget.name }}</h3>
					<div ng-show="edit" class="box-header-btns pull-right">
						<a title="settings" ng-click="openSettings(widget)"><i class="glyphicon glyphicon-cog"></i></a>
						<a title="Remove widget" ng-click="remove(widget)"><i class="glyphicon glyphicon-trash"></i></a>
					</div>
				</div>
				<md-content flex class="box-content">
					<md-slider layout-align="center center" ng-if="widget.type == 'slider'" flex ng-model="value" ng-change="sendMessage(widget.name, value)" min="0" max="255" aria-label="blue" id="blue-slider" class="md-primary">
					</md-slider>
					<md-button layout-align="center center" ng-style="{'width':'100%', height:'50px'}" ng-if="widget.type == 'button'" ng-mouseup="sendMessage(widget.name, 'up')" ng-mousedown="sendMessage(widget.name, 'down')" class="md-raised md-primary">{{ widget.name }}</md-button>
					<md-switch layout-align="center center" ng-if="widget.type == 'switch'" ng-click="thevalue = !thevalue; sendMessage(widget.name, thevalue)" aria-label="Switch 1">
					</md-switch>
				</md-content>
			</div>
		</li>
	</ul>
</div>
